.table-container {
    width: 100%;
    border-collapse: collapse;
}

.table-container td, .table-container th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.color-block {
    width: 100%;
    height: 200px;
}

.color-male {
    background-color: blue;
}

.color-female {
    background-color: red;
}

.dynamic-image {
    width: 100%;
    height: auto;
}

.sex-age-text {
    font-weight: bold;
    font-size: 1.2em;
}

.sex-age-value {
    font-size: 1.1em;
}